<main>
  <div style="margin-bottom: 15px;">
        <%= form.label :firstname%><br>
        <%= form.text_field :firstname, placeholder: "firstname" %>
        
    </div>

    <div style="margin-bottom: 15px;">
        <%= form.label :lastname %><br>
        <%= form.text_field :lastname, placeholder: "lastname" %>
    </div>

    <div style="margin-bottom: 15px;">
        <%= form.label :username %><br>
        <%= form.text_field :username, placeholder: "username" %>
    </div>

    <div style="margin-bottom: 15px;">
        <%= form.label :password %><br>
        <%= form.text_field :password, placeholder: "password" %>
    </div>
</main>