
<main>
    <%# <div class="btn">
        <button>
            <%=  link_to 'Add user', new_user_path %>
        <%# </button>
    </div> %>
    <h1> User Table </h1>
    <div class="btn">
        <button>
            <%=  link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </button>
    </div>
    <aside>
        <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>view</th>
            </tr>
        </thead>
        <tbody>
        <% @user.each do |data| %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.firstname %></td>
                <td><%= data.lastname %></td>
                <td><%= data.username %></td>
                <td> 
                    <a>
                        <%=  link_to 'view', user_path(data.id) %>
                    </a>
                     <a>
                        <%=  link_to 'edit', edit_user_path(data.id) %>
                    </a>
                     <a>
                        <%=  link_to 'delete', user_path(data.id), method: :delete %>
                    </a>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </aside>
</main>